.App {
  font-family: sans-serif;
  min-width: 640px;
  padding: 0 10px;
  margin: auto;
}

.wrongItem {
  color: #c11212;
  font-weight: bold;
}

.listHeader {
  font-weight: bold;
  border-bottom: 0.2rem solid #a7a7a7;
}

.listItem {
  border-bottom: 0.1rem solid #e1e1e1;
}

.row {
  flex-direction: row;
}